<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white pt-4">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">

            <!-- User dashboard link -->
            <a href="/User/Dashboard" class="list-group-item list-group-item-action py-2" aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("My dashboard")</span>
            </a>
            <!-- Package Management link -->
            <a href="/Package/Management" class="list-group-item list-group-item-action py-2">
                <i class="fas fa-box fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("My Packages Management")</span>
            </a>
            <!-- My Transactions link -->
            <a href="/Transaction/MyTransactions" class="list-group-item list-group-item-action py-2">
                <i class="fas fa-money-check-alt fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("My Transactions")</span>
            </a>
            <!-- My Purchases link -->
            <a href="/Purchase/MyPurchases" class="list-group-item list-group-item-action py-2">
                <i class="fas fa-shopping-cart fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("My Purchases")</span>
            </a>

            <!-- Psychologist specific links -->
            @if(await UserManager.IsInRoleAsync(User, "Psychologist"))
            {
                <li class="list-group-item list-group-item-action py-2 bg-secondary text-light disabled">
                    <span>@Localizer.TextIgnoreCase("Psychologist")</span>
                </li>
                <a href="/Package/" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-box-open fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("View Packages Result")</span>
                </a>
            }


            <!-- Admin dashboard link -->
            @if(await UserManager.IsInRoleAsync(User, "Administrator"))
            {
                <li class="list-group-item list-group-item-action py-2 bg-secondary text-light disabled">
                    <span>@Localizer.TextIgnoreCase("Administrator")</span>
                </li>
                <a href="/Admin/Dashboard" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Admin dashboard")</span>
                </a>
                <a href="/User/UserList" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-users fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Users Management")</span>
                </a>
                <a href="/Package/" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-boxes fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("User Packages List")</span>
                </a>
                <!-- Activation code management link -->
                <a href="/Test/Code" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-key fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Activation Code Management")</span>
                </a>
                <a href="/Test/Neo/Question" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-brain fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Neo Test Questions Management")</span>
                </a>
                <a href="/Test/Clifton/Question" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-chart-bar fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Clifton Test Questions Management")</span>
                </a>
                <a href="/Test/Holland/Question" class="list-group-item list-group-item-action py-2">
                    <i class="fas fa-briefcase fa-fw me-3"></i><span>@Localizer.TextIgnoreCase("Holland Test Questions Management")</span>
                </a>
            }
        </div>
    </div>
</nav>
<!-- Sidebar -->
