@page
@model LoginModel

@{
    ViewData["Title"] = @Localizer.Text("Log in");
}

<form id="account" method="post">
    <div asp-validation-summary="All" class="text-danger mb-1"></div>
    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Username" class="form-control form-control-lg"/>
        <label asp-for="Input.Username" class="form-label"></label>
    </div>
        <span asp-validation-for="Input.Username" class="text-danger mb-1 small"></span>

    <div class="form-outline mb-1" data-mdb-input-init>
        <input asp-for="Input.Password" class="form-control form-control-lg"/>
        <label asp-for="Input.Password" class="form-label"></label>
    </div>
        <span asp-validation-for="Input.Password" class="text-danger mb-1 small"></span>

    <div class="form-outline mb-1" data-mdb-input-init>
        <div>
            <input asp-for="Input.RememberMe" class="form-check-input"/>
            <label asp-for="Input.RememberMe" class="form-check-label">
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="mb-1 d-grid">
        <button type="submit" class="btn btn-primary">@Localizer.Text("Log in")</button>
    </div>
    <div class="form-outline mb-1" data-mdb-input-init>
        <a asp-page="./PhoneRegister" asp-route-returnUrl="@Model.ReturnUrl">@Localizer.Text("Register by mobile")</a><br/>
        <a asp-page="./PhoneRegister">@Localizer.Text("Forgot your mobile password?")</a><br/>
        <a asp-page="./EmailRegister" asp-route-returnUrl="@Model.ReturnUrl">@Localizer.Text("Register by email")</a><br/>
        <a asp-page="./ForgotPassword">@Localizer.Text("Forgot your email password?")</a><br/>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptPartial"/>
}