@page
@model iSarv.Areas.Package.Pages.CreateModel

@{
    ViewData["Title"] = Localizer.TextIgnoreCase("Create");
}

<h1>@Localizer.TextIgnoreCase("Create")</h1>

<h4>@Localizer.TextIgnoreCase("Test Package")</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="TestPackageCreate.Name" class="form-control" placeholder="@Localizer.TextIgnoreCase("Name")" readonly/>
                <label asp-for="TestPackageCreate.Name">@Localizer.TextIgnoreCase("Name")</label>
                <span asp-validation-for="TestPackageCreate.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="TestPackageCreate.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <label asp-for="TestPackageCreate.UserId" class="control-label">@Localizer.TextIgnoreCase("User Id")</label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer.TextIgnoreCase("Create")" class="btn btn-primary"/>
                <a asp-page="Index" class="btn btn-secondary">@Localizer.TextIgnoreCase("Back to List")</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptPartial"/>
    <script src="/lib/jalali-date-picker/jalali-date-picker.js"></script>
}
